{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": 2,
    "max-len": [1, 100, 2, {"ignoreComments": true}],
    "prop-types": [1]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}